{% extends 'base.html' %} {% block title %}Pets{% endblock %} {% block content
%}

<h1>Pets</h1>
<ul>
  {% for pet in pets %}
  <div>
    {% if pet.photo_url %}
    <img src="{{ pet.photo_url }}" alt="pet pic" />
    {% endif %}
    <p>
      <a href="/{{ pet.id }}">{{ pet.name }}</a>
      {% if pet.available %} is available! {% endif %}
    </p>
  </div>
  {% endfor %}
</ul>
<a href="/add"><button>Add Pet</button></a>
<br>
<div>
  {{pf_info["name"]}}
  {{pf_info["age"]}}
  <img src="{{pf_info["photo_url"]}}" alt="random">


</div>

{% endblock %}
